<div id="introblurb" class="panel panel-default">

	<div class="panel-heading">
	<h3>Welcome to the <em>in silico</em> wheat Target Induced Local Lesions In Genome (TILLING) website</h3>
	</div>
	<br/>
	<p>
	This resource consists of TILLING populations developed in tetraploid durum wheat cv 'Kronos' and hexaploid bread wheat cv 'Cadenza' as part of a joint project between the University of California Davis, Rothamsted Research, The Earlham Institute, and John Innes Centre.
	</p>

	<p>
	We have re-sequenced the exome of 1,535 Kronos and 1,200 Cadenza mutants using Illumina next-generation sequencing, aligned this raw data to the IWGSC Chinese Spring chromosome arm survey sequence, identified mutations, and predicted their effects based on the protein annotation available at Ensembl Plants.
	</p>
	<h4>
		Notice
	</h4>
	<p>
		The mutations included in this database (www.wheat-tilling.com) were part of the original <a href="https://doi.org/10.1073/pnas.1619268114">Krasileva et al 2017</a>  study in which we defined mutations based on the IWGSC Chromosome Survey Sequence (CSS) gene models. These gene models have now been superseded by the IWGSC RefSeqv1.1 gene models (<a href="https://doi.org/10.1126/science.aar7191">IWGSC 2018</a>) which are a significant improvement over the CSS gene models (For more information on the comparisons see <a href="http://www.wheat-training.com">www.wheat-training.com</a>). The mutant exome sequence data has now been remapped to the IWGSC RefSeqv1.1 gene models and is available through <a href="http://plants.ensembl.org/Triticum_aestivum/Info/Index">EnsemblPlants</a>  
	</p>
	<p>
		We strongly encourage users to access the mutant data through EnsemblPlants using either a <a href="http://plants.ensembl.org/Triticum_aestivum/Tools/Blast">blast search </a> or with the IWGSC RefSeqv1.1 gene model name. The EMS data can be found on the left hand side panel which reads “Variant table” or “Variant image” (see <a href="http://www.wheat-training.com/wp-content/uploads/TILLING/pdfs/Selecting-TILLING-mutants.pdf">this document</a> for more details). We have maintained this website as legacy data. If you have any queries please do not hesitate to contact us at Cristobal.Uauy@jic.ac.uk or Ricardo.Ramirez-Gonzalez@jic.ac.uk. 
	</p>
	<br>
</div>

<div id="searches"  >

<div id="search_left" class="left"  width="50%" style="min-height:450px" >
				<%=  render 'search_form' %>
</div>
<div id="search_right" class="right"   width="50%" style="min-height:550px">	
&nbsp;		
<iframe id="sequenceserver" src="sequenceserver" style="position: absolute; width:40%; height:800px; border: none"></iframe>
</div>
